<mat-toolbar color="primary" class="mat-elevation-z8 toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span> Thoth Company </span>
</mat-toolbar>

<mat-sidenav-container class="example-container" >
    
    <mat-sidenav #sidenav [mode]="mode.value" class="sidenav mat-elevation-z8">
        <button mat-button class="sidenavMenuButton"><mat-icon class="mr-1">home</mat-icon>Início</button>
        <button mat-button class="sidenavMenuButton"><mat-icon class="mr-1">group_work</mat-icon>Grupo Econômico</button>
        <button mat-button class="sidenavMenuButton"><mat-icon class="mr-1">store_mall_directory</mat-icon>Clientes</button>
         

 
               

      
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>


