<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Gerentes</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/home">Painel de controle</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/home/admin">Ti Administrator</a>
      </li>
      <li class="breadcrumb-item">
          <a routerLink="/home/gerentes">Gerentes</a>
      </li>
    </ol>
    </div>
    <div class="col-lg-2"></div>
</div>