*:focus {
  outline: none;
}
.boxPadrao{
    background: #ffffff;
    padding: 14px;
}
.breadcrumbs_box{
    margin-bottom:14px;
}
.card-mat{
    margin-bottom:14px;
}
.example-full-width{
    width:100%;
  }
  .example-container>* {
    width: 100%;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
.dashboard-card{
    margin:10px;
    
}
.card-list{
    display: flex;
}
.boxPadrao{
  background:#ffffff;
  padding: 14px;
}
h2, .h2 {
  font-size: 1.2rem;
}
@media (max-width: 999px) {
    .card-list{
        display: initial;
    }   
}