*:focus {
  outline: none;
}
table {
    width: 100%;
  }
  .boxPadrao{
    background:#ffffff;
    padding: 14px;
}
.example-full-width{
  width:100%;
}

.inputSearchUser{
  font-size: 18px;
}

.mat-row:hover{
    cursor:pointer;
    background:rgb(231, 231, 231);
}
h2, .h2 {
  font-size: 1.2rem;
}