table {
    width: 100%;
  }
  .boxPadrao{
    background:#ffffff;
    padding: 24px;
}
.example-full-width{
  width:100%;
}

.inputSearchUser{
  font-size: 18px;
}

.mat-row:hover{
    cursor:pointer;
    background:rgb(231, 231, 231);
}