<div class="dataResponsiveGridComponent" (window:resize)="onResize($event)">
  
<div id="dataResponsiveGrid" class="dataResponsiveGrid mat-elevation-z8">
  <div class="dataResponsiveGridHeader">
    <div class="titleBigGrid">
        Nome Loja
    </div>
    <div class="titleSmallGrid">
      <span>Data de entrega</span>
      <br>
      <p>08/03/2019</p>
    </div>
  </div>

<div class="dataResponsiveGridTableHeaderComponent">
  <div class="dataResponsiveGridTableHeader">

      <div (click)="orderDataArrGrid('id')" class="smallCell headerCell display_flex dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
        Cód.
        <mat-icon *ngIf="arrOrder == 'ASC' && tabarrOrderSelected == 'id'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="arrOrder == 'DESC' && tabarrOrderSelected == 'id'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_down</mat-icon>
      </div>

      <div (click)="orderDataArrGrid('status')" class="smallCell headerCell display_flex dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
        Status
        <mat-icon *ngIf="arrOrder == 'ASC' && tabarrOrderSelected == 'status'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="arrOrder == 'DESC' && tabarrOrderSelected == 'status'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_down</mat-icon>
      </div>

      <div (click)="orderDataArrGrid('nome')" class="headerCell display_flex dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
        Produto
        <mat-icon *ngIf="arrOrder == 'ASC' && tabarrOrderSelected == 'nome'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="arrOrder == 'DESC' && tabarrOrderSelected == 'nome'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_down</mat-icon>
      </div>

      <div (click)="orderDataArrGrid('unidmedida')" class="smallCell headerCell display_flex dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
        Emb.
        <mat-icon *ngIf="arrOrder == 'ASC' && tabarrOrderSelected == 'unidmedida'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="arrOrder == 'DESC' && tabarrOrderSelected == 'unidmedida'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_down</mat-icon>
      </div>

      <div (click)="orderDataArrGrid('peso')" class="smallCell headerCell display_flex dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
        Peso
        <mat-icon *ngIf="arrOrder == 'ASC' && tabarrOrderSelected == 'peso'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="arrOrder == 'DESC' && tabarrOrderSelected == 'peso'" aria-hidden="false" aria-label="Example home icon" class="mat-icon-mod">keyboard_arrow_down</mat-icon>
      </div>
  </div>

  <div class="dataResponsiveGridTableHeaderRight">

    <div class="dataResponsiveGridTableHeaderRightBody" id="dataResponsiveGridShowRight">

       <div (click)="orderDataArrGrid(i)" *ngFor="let data of dataArrGridColum; let i=index" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
          Loja {{i+1}}.
        </div>

        <div (click)="orderDataArrGrid('total')" class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Total
        </div>
        <div (click)="orderDataArrGrid('precoVendaCaixa')" class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Preço Venda / Caixa
        </div>
        <div (click)="orderDataArrGrid('precoUnitarioCaixa')" class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Preço Unitário / Caixa
        </div>
        <div (click)="orderDataArrGrid('precoFornecedorCaixa')" class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Fornecedor
        </div>
        <div (click)="orderDataArrGrid('precoCustoCaixa')" class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Preço custo / Caixa
        </div>
        <div (click)="orderDataArrGrid('precoMargemCaixa')" class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
           Margem(%)
        </div>

        <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
         
        </div>

    </div>
  </div>

</div>

</div>

<div class="dataResponsiveGrid dataResponsiveGridBody" [style.height.px]="dataResponsiveGridBodyHeight">
    <div class="dataResponsiveGridShowLeft" >
        <div class="gridTableDataLeftContainer" id="gridTableDataLeftContainer">

          <div [ngClass]="{'highlightRow': selectedRow == i}" (click)="highlightRow(i)"   id="r_{{i}}" class="dataResponsiveGridTableData" *ngFor="let data of dataArrGrid; let i=index">
              
            <div (focus)="highlightRow(i)" class="smallCell dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data.id}}
              </div>

              <div *ngIf="data.status == 1" matTooltip="Evidência" [matTooltipPosition]="position.value" (focus)="highlightRow(i)" class="smallCell dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  <div class="produtoStatusEvidencia"></div>
              </div>
              <div *ngIf="data.status == 2" matTooltip="Em Falta" [matTooltipPosition]="position.value" (focus)="highlightRow(i)" class="smallCell dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  <div class="produtoStatusEmFalta"></div>
              </div>
              <div *ngIf="data.status == 3" matTooltip="Entre Safra" [matTooltipPosition]="position.value" (focus)="highlightRow(i)" class="smallCell dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  <div class="produtoStatusEntreSafra"></div>
              </div>
              <div *ngIf="data.status == 4" matTooltip="Neutro" [matTooltipPosition]="position.value" (focus)="highlightRow(i)" class="smallCell dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  <div class="produtoStatusNeutro"></div>
              </div>

              <div matTooltip="{{data.nome}}" [matTooltipPosition]="position.value" (focus)="highlightRow(i)" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data.nome}}
              </div>
              <div (focus)="highlightRow(i)" class="smallCell dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data.unidmedida}}
              </div>
              <div (focus)="highlightRow(i)" class="smallCell dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data.peso}}
              </div>
          </div>
          <div class="dataResponsiveGridShowLeftBottomAjust"></div>
        </div>
    </div>

    <div id="dataResponsiveGridShowRightHeight" class="dataResponsiveGridShowRight" (scroll)="onScroll($event)">
      <div class="gridTableDataRightContainer">
          <div *ngFor="let data of dataArrGrid; let i=index" (click)="highlightRow(i)" [ngClass]="{'highlightRow': selectedRow == i}" class="dataResponsiveGridTableData" >

            <div *ngFor="let dataArr of data.lojas; let j=index" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" > 
              <input class="inputCell" name="input_{{i}}{{j}}" matInput #valor (change)="setDataCell(valor.value, i, j)" class="cellInputData" type="number" min="0" max="1000000" value="{{data.lojas[j]}}"  tabindex="{{i+1}}">
            </div>

            <div class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                {{getTotalItens(i)}}
            </div>
            <div class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                {{data.precoVenda | currency:'R$'}}
            </div>
            <div class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                {{data.precoVenda | currency:'R$'}}
            </div>
            <div class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                {{data.fornecedor}}
            </div>
            <div class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                {{data.precoCusto | currency:'R$'}}
            </div>
            <div class="text-align-center dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                Margem(%)
            </div>




          </div>
      </div>
    </div>
</div>


<div class="dataResponsiveGridBottom mat-elevation-z8-mod">
    <div class="dataBottomItem">
      <div class="dataBottomItemLabel">Total Volumes</div>
      <div class="dataBottomItemContent">
        {{getTotalVolumes() | number}}
      </div>
    </div>

    <div class="dataBottomItem">
        <div class="dataBottomItemLabel">Valor total venda</div>
        <div class="dataBottomItemContent">
            {{getValorTotalVenda() | currency:'R$'}}
        </div>
      </div>

      <div class="dataBottomItem">
          <div class="dataBottomItemLabel">Valor total venda c/desc</div>
          <div class="dataBottomItemContent">
              {{getValorTotalVendaComDesconto() | currency:'R$'}}
          </div>
      </div>

      <div class="dataBottomItem">
          <div class="dataBottomItemLabel">Valor total compra</div>
          <div class="dataBottomItemContent">
              {{getValorTotalCompra() | currency:'R$'}}
          </div>
      </div>
      <div class="dataBottomItem">
          <div class="dataBottomItemLabel">Resultado</div>
          <div class="dataBottomItemContent dataBottomItemContentHhighlight" [ngClass]="{'negativeVal': getValorResultadoFinal() < 0}">
             {{getValorResultadoFinal() | currency:'R$'}}
          </div>
      </div>

      <div class="dataBottomItem">
          <div class="dataBottomItemLabel">Margem %</div>
          <div class="dataBottomItemContent dataBottomItemContentHhighlight">
            {{margem}}
          </div>
      </div>
  </div>
</div>