.dataResponsiveGridComponent{

}
.dataResponsiveGridBody{
    overflow-y: auto;
    display: flex;
}
.dataResponsiveGrid{
    padding: 14px;
    background:#FFFFFF;
    padding-bottom:0px;
    
}
.dataResponsiveGrid{
    padding-top:0px;
}
.titleSmallGrid{
    margin-left:auto;
}
.titleSmallGrid span{
    font-weight: bold;
 }
 .dataResponsiveGridHeader{
    display: flex;
    height: 70px;
    padding: 10px;
}
.titleBigGrid{
    font-size: 24px;
    font-weight: bold;
}
.dataResponsiveGridShow{
    background:#e6e6e6;
    border-radius: 5px;
    padding: 5px;
}

.dataResponsiveGridBottom{
    display: flex;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 10px;
    background:#FFFFFF;
}
.dataBottomItem{
    width:16.666666%
}
.dataBottomItemContent{
    background: #e6e6e6;
    border-radius: 5px;
    margin:5px;
    padding:10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.dataBottomItemLabel{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding-left:5px;
    padding-right: 5px;
    height:20px;
    overflow: hidden;
    text-align: center;
}
.dataBottomItemContentHhighlight{
    font-weight: bold;
    color:rgb(45, 139, 194);
}
.cellBorderTop{
    border-top: 1px solid #CCCCCC;
}
.cellBorderRight{
    border-right: 1px solid #CCCCCC;
}
.cellBorderLeft{
    border-left: 1px solid #CCCCCC;
}
.cellBorderBottom{
    border-bottom: 1px solid #CCCCCC;
}
.dataResponsiveGridTableHeader{
    display: flex;
    height:35px;
    background:#f1f1f1;
    font-weight: bold;
    max-width: 500px;
    box-shadow: 5px 1px 7px 0px rgba(0, 0, 0, 0.11);
    z-index: 0;
}
.dataResponsiveGridTableHeaderRight{
    display: flex;
    height:35px;
    background:#f1f1f1;
    font-weight: bold;
    width:100%;
}
.dataResponsiveGridTableHeaderCell{
    padding:5px;
    width:100px;
    min-width:100px;
    font-size: 14px;
}
.dataResponsiveGridShowLeft{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.dataResponsiveGridTableData{
    display: inline-flex;
}

.dataResponsiveGridTableHeaderRight{
    display: flex;
    height:35px;
    background:#f1f1f1;
    font-weight: bold;
    overflow-x: auto;
    min-width: 200px;
}
.dataResponsiveGridTableHeaderRight::-webkit-scrollbar {
    height: 0px;              /* height of horizontal scrollbar ← You're missing this */
    width: 0px;               /* width of vertical scrollbar */
    border: 0px solid #d5d5d5;
  }
.dataResponsiveGridTableHeaderComponent{
    display:flex;
    box-shadow: 5px 0px 13px 0px rgba(0,0,0,.2);
}


.dataResponsiveGridTableHeaderRightBody{
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.dataResponsiveGridShowRight{
    max-width: 100%;
    overflow-x: auto;
    box-shadow: 5px 0px 13px 0px rgba(0,0,0,.2);
}
.dataResponsiveGridTableHeaderRightBody::-webkit-scrollbar{
width:0px;
height:0px;
}
.gridTableDataLeftContainer{
    overflow-y: hidden;
    height: 100%;

}
.gridTableDataLeftContainer::-webkit-scrollbar{
    width:0px;
    height:0px;
}


.mat-elevation-z8-mod {
    box-shadow: 1px -4px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}



.dataResponsiveGridShowRight::-webkit-scrollbar-button:hover{ background-color: #AAA; border-radius: 5px;} 
.dataResponsiveGridShowRight::-webkit-scrollbar-thumb{ background-color: #CCC; border-radius: 5px;} 
.dataResponsiveGridShowRight::-webkit-scrollbar-thumb:hover{ background-color: #CCC; border-radius: 5px;} 
.dataResponsiveGridShowRight::-webkit-scrollbar-track{ background-color: #efefef; border-radius: 5px;} 
.dataResponsiveGridShowRight::-webkit-scrollbar{ width: 3px; height: 10px; border-radius: 5px;}

.dataResponsiveGridShowLeftBottomAjust{
    padding:30px;
}


.highlightRow{
    background: #fffdb4;
}


.rowArr:focus{
    background: #cecfff;
}



@media (max-width: 645px) {
    .dataResponsiveGridBottom{
        display: block;
        position: initial;
        box-shadow: -1px 1px 0px 0px rgba(0, 0, 0, 0), 0 8px 10px 1px rgba(0, 0, 0, 0), 0 3px 14px 2px rgba(0,0,0,.12);
    }
    .dataBottomItem{
        width:initial;
    }
    .dataBottomItem{
        border:1px solid #e6e6e6;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .dataBottomItemLabel{
        padding-top: 5px;
        padding-bottom: 5px;
        height: 25px;
    }
    
}