
<div class="dataResponsiveGridComponent" (window:resize)="onResize($event)">

<div id="dataResponsiveGrid" class="dataResponsiveGrid mat-elevation-z8">
  <div class="dataResponsiveGridHeader">
    <div class="titleBigGrid">
        Nome Loja
    </div>
    <div class="titleSmallGrid">
      <span>Data de entrega</span>
      <br>
      <p>08/03/2019</p>
    </div>
  </div>


<div class="dataResponsiveGridTableHeaderComponent">
  <div class="dataResponsiveGridTableHeader">
      <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
        Cód Prod.
      </div>
      <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
          Status
      </div>
      <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
          Produto
      </div>
      <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
          Emb.
      </div>
      <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
          Peso.
      </div>
  </div>

  <div class="dataResponsiveGridTableHeaderRight">

    <div class="dataResponsiveGridTableHeaderRightBody" id="dataResponsiveGridShowRight">

       <div *ngFor="let data of dataArrGridColum; let i=index" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
          Loja {{i+1}}.
        </div>

        <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Total
        </div>
        <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Preço Venda / Caixa
        </div>
        <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Preço Unitário / Caixa
        </div>
        <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Fornecedor
        </div>
        <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
            Preço custo / Caixa
        </div>
        <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
           Margem(%)
        </div>

        <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderTop cellBorderBottom">
         
        </div>



    </div>
  </div>

</div>

</div>

<div class="dataResponsiveGrid dataResponsiveGridBody" [style.height.px]="dataResponsiveGridBodyHeight">
    <div class="dataResponsiveGridShowLeft" >
        <div class="gridTableDataLeftContainer" id="gridTableDataLeftContainer">

          <div [ngClass]="{'highlightRow': selectedRow == i}" (click)="highlightRow(i)"   id="r_{{i}}" class="dataResponsiveGridTableData" *ngFor="let data of dataArrGrid; let i=index">
              
            <div (focus)="highlightRow(i)" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data}}
              </div>
              <div (focus)="highlightRow(i)" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data}}
              </div>
              <div (focus)="highlightRow(i)" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data}}
              </div>
              <div (focus)="highlightRow(i)" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data}}
              </div>
              <div (focus)="highlightRow(i)" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data}}
              </div>

          </div>
          <div class="dataResponsiveGridShowLeftBottomAjust"></div>
        </div>
    </div>

    <div id="dataResponsiveGridShowRightHeight" class="dataResponsiveGridShowRight" (scroll)="onScroll($event)">
      <div class="gridTableDataRightContainer">
          <div (click)="highlightRow(i)" [ngClass]="{'highlightRow': selectedRow == i}" class="dataResponsiveGridTableData" *ngFor="let data of dataArrGrid; let i=index">
              
            <div *ngFor="let dataArr of dataArrGridColum; let j=index" class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                  {{data}}
            </div>


            <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                Total
            </div>
            <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                Preço Venda / Caixa
            </div>
            <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                Preço Unitário / Caixa
            </div>
            <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                Fornecedor
            </div>
            <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                Preço custo / Caixa
            </div>
            <div class="dataResponsiveGridTableHeaderCell cellBorderLeft cellBorderBottom rowArr row_{{i+1}}" tabindex="{{i+1}}">
                Margem(%)
            </div>




          </div>
      </div>
    </div>
</div>


<div class="dataResponsiveGridBottom mat-elevation-z8-mod">
    <div class="dataBottomItem">
      <div class="dataBottomItemLabel">Total Volumes</div>
      <div class="dataBottomItemContent">
        {{totalVolumes}}
      </div>
    </div>

    <div class="dataBottomItem">
        <div class="dataBottomItemLabel">Valor total venda</div>
        <div class="dataBottomItemContent">
            {{valorTotalVendas}}
        </div>
      </div>

      <div class="dataBottomItem">
          <div class="dataBottomItemLabel">Valor total venda c/desc</div>
          <div class="dataBottomItemContent">
              {{valorTotalVendasComDesconto}}
          </div>
      </div>

      <div class="dataBottomItem">
          <div class="dataBottomItemLabel">Valor total compra</div>
          <div class="dataBottomItemContent">
              {{valorTotalCompra}}
          </div>
      </div>
      <div class="dataBottomItem">
          <div class="dataBottomItemLabel">Resultado</div>
          <div class="dataBottomItemContent dataBottomItemContentHhighlight">
             {{resultado}}
          </div>
      </div>

      <div class="dataBottomItem">
          <div class="dataBottomItemLabel">Margem %</div>
          <div class="dataBottomItemContent dataBottomItemContentHhighlight">
            {{margem}}
          </div>
      </div>
  </div>
</div>