<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Clientes</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Painel de controle</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/home/client">Clientes</a>
      </li>
    </ol>
  </div>
</div>
<br>
<div class="mat-elevation-z8 boxPadrao">
    <div class="form-group">
<br />
        <input [(ngModel)]="searchName" (ngModelChange)="filterData()" type="text"
            id="product_name"
            name="product_name"
            value=""
            placeholder="Buscar cliente"
            class="form-control"
        />
    </div>
</div>
<table mat-table [dataSource]="activePageDataChunk" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>COD</th>
    <td mat-cell *matCellDef="let element">{{ element.ID }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NOME</th>
    <td mat-cell *matCellDef="let element">{{ element.NOME }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>NOME FANTASIA</th>
    <td mat-cell *matCellDef="let element">{{ element.FANTASIA }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>TIPO</th>
    <td mat-cell *matCellDef="let element">{{ element.TIPO_CLI_FORN }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="mat-elevation-z8">
<mat-paginator 
  [length]="totalItensBusca"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChanged($event)"
>
</mat-paginator>
</div>
<br><br><br>