<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
      <h2>Painel de controle</h2>
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="index.html">Início</a>
          </li>
      </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

      <div class="col-lg-3">
          <div class="widget style1 red-bg">
              <div class="row">
                  <div class="col-4">
                      <i class="fa fa-shopping-cart fa-5x"></i>
                  </div>
                  <div class="col-8 text-right">
                      <span>Lojas</span>
                      <h2 class="font-bold">118</h2>
                  </div>
              </div>
          </div>
      </div>



    <div class="col-lg-3">
      <div class="widget style1 lazur-bg">
          <div class="row">
              <div class="col-4">
                  <i class="fa fa-cubes fa-5x"></i>
              </div>
              <div class="col-8 text-right">
                  <span> Estoques declarado</span>
                  <h2 class="font-bold">260</h2>
              </div>
          </div>
      </div>
  </div>


  <div class="col-lg-3">
      <div class="widget style1 yellow-bg">
          <div class="row">
              <div class="col-4">
                  <i class="fa fa-file-text-o fa-5x"></i>
              </div>
              <div class="col-8 text-right">
                  <span> Pedidos pendente</span>
                  <h2 class="font-bold">35</h2>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-3">
      <div class="widget style1 navy-bg">
          <div class="row">
              <div class="col-4">
                  <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-8 text-right">
                  <span>Usuários</span>
                  <h2 class="font-bold">80</h2>
              </div>
          </div>
      </div>
  </div>

  </div>
</div>